
a:link, a:visited {
 color: var(--text-light);
}

.section-title {
 color: rgb(255, 255, 255);
}

.text-shadow {
 text-shadow: var(--text-shadow);
}

.icon-size {
 font-size: 6rem;
}

.block {
 display: block;
}

/*  */

.container {
 margin: 0 auto;
 /* width: 85%; */
 max-width: 1000px;
}

a:link, a:visited {
 color: var(--text-light);
}

.about, .projects, .contact {
 padding: 3.5rem 0;
}

.section-title {
 font-size: 2.2rem;
 font-weight: 300;
 padding: 1rem;
 text-align: center;
 color: black;
}

/* Navigation */
.nav-header {
 display: flex;
 justify-content: center;
 background:#D32030;
 margin: 0 auto;
 position: fixed;
 top: 0;
 text-align: center;
 width: 100%;
 z-index: 1000;
 height: 4.5rem;
 box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.25);
}

.nav-toggle {
 display: none;
}

.nav-toggle-label {
 cursor: pointer;
 align-items: center;
 display: flex;
 height: 100%;
 margin-left: 1em;
 /* position: absolute; */
 top: 0;
 left: 0;
}
/* Nav Hamburger Button */
.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
 background: var(--text-light);
 border-radius: 3px;
 cursor: pointer;
 display: block;
 height: 2px;
 position: relative;
 width: 2em;
}

.nav-toggle-label span::before, .nav-toggle-label span::after {
 content: "";
 position: absolute;
}

.nav-toggle-label span::before {
 bottom: 7px;
}

.nav-toggle-label span::after {
 top: 7px;
}

.nav-menu {
 background: var(--nav-background);
 text-align: center;
 padding-top: .5em;
 position: absolute;
 left: 0;
 top: 100%;
 transform: scale(1, 0);
 transition: transform 300ms ease-in-out;
 transform-origin: top;
 width: 100%;
 
}

nav ul {
 margin: 0;
 padding: 0;
 list-style: none;
}

nav li {
 margin-bottom: 1em;
 margin-left: 1em;
}

.logo {
 display: inline-block;
 font-size: 1.5em;
 font-weight: 200;
 padding: .5em 1em;
 text-align: center;
 align-self: center;
 color:white;
 /* border: solid black; */
}

.nav-item {
 text-decoration: none;
 font-weight: 200;
 font-size: 1.2em;
 opacity: 0;
 transition: opacity 150ms ease-in-out;
}

.nav-toggle:checked ~ nav {
 transform: scale(1, 1);
}

.nav-toggle:checked ~ nav .nav-item {
 opacity: 1;
 transition: opacity 250ms ease-in-out 200ms;
}

/* Hero section */

.hero {
 height: 100vh;
 background: center / cover no-repeat url('./../img/nyc-1.jpeg');
 position: relative;
}

.titlebox {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background: radial-gradient(circle at 100% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .85) );
}

.hero-text-container {
 position: relative;
 top: -10vh;
}


.hero-title {
 color: rgb(255, 98, 30);
 font-size: 3.7rem;
 font-weight: 100;
 text-align: left;
 line-height: 1;
 user-select: none;
}

.developer {
 color: rgb(255, 75, 35);
 display: block;
 letter-spacing: 0px;
 font-weight: 300;
 margin-left: 2rem;
 position: relative;
 top: -0.75rem;
}


.hero-subtitle {
 color: var(--text-light);
 line-height: 1.5;
 font-size: 1rem;
 font-weight: 200;
 margin: 0 auto;
 width: 90%;
 max-width: 500px;
 position: absolute;
 bottom: 10vh;
 text-align: center;
}

/* /Hero Section */

/* About */

.about {
 min-height: 90vh;
 text-align: center;
 background: black;
 position: relative;
 /* background: radial-gradient(circle at 100% 50%, rgba(0, 0, 0, 0.4), rgba(11, 11, 11, 0.85) ); */
}

.card {
 background: #5c2b1f;
 border-radius: 3px;
 border: 3px dashed orangered;
 width: 700px;
 padding: 2rem;
 margin: 0 auto;
}

.about ul {
 max-width: 750px;
 margin: 0 auto;
 z-index: 2;
 position: relative;
}

.about ul li {
 margin: .75rem 2rem;
}

.about-title, .about-subtitle {
 color: var(--text-light);
}

.about-subtitle {
 font-size: 1rem;
 font-weight: 400;
}

.profile-pic {
 margin: 1.25rem 0;
 width: 200px;
}

.fa-html5 {
 color: #e34f26;
}

.fa-css3-alt {
 color: #0074D9;
}
.fa-python {
color: #0074D9;
}


.fa-js-square {
 color: #f7df1e;
}

.fa-code {
 color: #0769ad;
}

.fa-react {
 color: #3f889f;
}

.fa-git-square {
 color: #de6b55;
}

.fa-database {
 color: #336791;
}

.fa-github {
 color: white;
}

.express {
 width: 4rem;
 height: 4rem;
 display: block;
 margin: 0 auto 1rem;
 background: center / contain no-repeat url('../img/express.png');
}

.fa-node, .fa-npm {
 color: rgb(144,198,61);
}

.ruby {
 width: 4rem;
 height: 4rem;
 display: block;
 margin: 0 auto 1rem;
 background: center / cover no-repeat url('../img/ruby.png');
}

.p5 {
 width: 4rem;
 height: 4rem;
 display: block;
 margin: 0 auto 1rem;
 background: center / contain no-repeat url('../img/p5.png');
}

.linked-in {
 width: 2.5rem;
 height: 4rem;
 display: block;
 margin: 0 auto 1rem;
 background: center / contain no-repeat url('../img/linkedin.svg');
}

.slack {
 width: 4rem;
 height: 4rem;
 display: block;
 margin: 0 auto 1rem;
 /* background: center / contain no-repeat url('../img/slack_color.png'); */
}

i {
 margin-bottom: .75rem;
 transition: transform 100ms ease-out;
 user-select: none;
}

.about ul li:hover i {
 transform: translateY(-5px);
}

/* Projects */

.project-title {
 text-align: center;
 color: rgb(222, 222, 222);

} 

.projects {
 margin: 0 auto;
 text-align: left;
 background: black;
 /* background: radial-gradient(circle, rgb(31, 60, 103) 0%, rgb(255, 255, 255) 100%); */
 padding: 3rem 0 1rem;
}

.projects h2, .projects p {
 color: white;
 text-align: center;
}

.row {
 margin: 5.5rem 0;
}

.row a {
 display: block;
 margin: 0 auto;
}

.img-description {
 max-width: 95%;
 padding: 0.5rem 0;
 line-height: 1.5;
 font-size: 1rem;
 margin: 0 auto;
}

.project-pic {
 width: 95%;
 max-width: 500px;
 max-height: 325px;
 object-fit: cover;
 object-position: top;
 margin: 0 auto 1rem;
 display: block;
 border-radius: 3px;
 transition: transform 125ms ease;
 border: solid black .1rem
}

.project-links {
 display: flex;
 align-items: center;
 max-width: 75%;
 margin: auto;
}

.live-site {
 background: white;
 color: black;
 padding: .4rem;
 border-radius: 3px;
 transition: 250ms ease;
 cursor: pointer;
}

.project-links a {
 color: black;
 font-weight: 300;
}

.project-icon-github {
 color: rgb(135, 135, 135);
 font-size: 3rem;
}

/* Contact */

.contact {
 /* background-image: linear-gradient(to bottom, black), center / cover no-repeat url("./../img/beach.JPG"); */
 box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.25);
}

.contact h2, .contact label {
 color: rgba(255, 255, 255, 1);
}
   /* FORM */
form {
 max-width: 90%;
 display: flex;
 flex-direction: column;
 margin: 0 auto;
 padding: 0 .5rem;
}

label {
 display: flex;
 align-self: center;
 font-size: 1rem;
 margin: 0;
 text-align: left;
}

.name-input, .email-input, .message-input, .submit-btn {
 border-radius: 5px;
 font-size: 1rem;
 color: rgba(0, 0, 0, 1);
 padding: 0.75rem;
 border: none;
 margin: 1rem auto;
 width: 100%;
 max-width: 400px;
 resize: none;
 background: rgba(255, 255, 255, 0.85);
 box-shadow: 1px 5px 5px -5px rgba(0, 0, 0, 0.5);
}
   /* Submit Button */
.submit-btn {
 color: black;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 display: flex;
 justify-content: center;
 padding: 0.75rem;
 width: 150px;
 grid-column: span 2;
 margin: 0 auto 1rem;
 transition: background-color 150ms ease-out;
 background-color: #eee;
}

.submit-btn:hover {
 background-color: hsl(0, 0%, 85%);
}


.email {
 color: rgb(234, 230, 230);
 padding: 1rem 0;
 text-align: center;
}
/* Footer */

footer {
 padding: .5rem;
 background-color: #262626;
 color: rgb(193, 193, 193);
 text-align: center;
}

footer p, footer h6 {
 color: rgba(255, 255, 255, 1);
 font-size: .7rem;
 padding: 1rem 0;
}

footer:hover,footer h6 a:hover {
 color: rgb(183, 215, 228);
}

footer h6 a:link {
 color: rgb(134, 154, 159);
}

@media screen and (min-width: 375px) {
 .hero-subtitle {
   /* bottom: 15vh; */
   /* border: solid black; */
 }
}

@media screen and (min-width: 800px) {
 #about ul li {
   display: inline-block;
 }
 .nav-toggle-label {
   display: none;
 }
 .nav-header {
   display: grid;
   grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
 }
 .logo {
   grid-column: 2 / span 1;
   align-self: center;
   /* color: white; */
 }
 .nav-menu {
   all: unset;
   grid-column: 3 / 4;
   display: flex;
   justify-content: flex-end;
   align-items: center;
 }
 .nav-item {
   opacity: 1;
   position: relative;
 }
 .nav-menu ul {
   display: flex;
   justify-content: flex-end;
 }
 .nav-menu li {
   margin-left: 3em;
   margin-bottom: 0;
 }
 .nav-item::before {
   background: var(--text-dark);
   background: rgb(232, 100, 18);
   content: '';
   display: block;
   height: 3px;
   position: absolute;
   top: -.5rem;
   left: 0;
   right: 0;
   opacity: 0;
   transform: scale(0, 1);
   transition: transform ease-in-out 150ms, opacity ease-in-out 50ms;
 }
 .nav-item:hover::before {
   transform: scale(1, 1);
   opacity: 1;
 }

 .hero-title {
   font-size: 6rem;
 }

 .hero-subtitle {
   width: 80%;
   line-height: 1.5;
   font-size: 1rem;
   color: rgba(255, 255, 255, 0.8);
   transition: color 150ms ease;
   margin: 0 2rem 0 auto;
   max-width: 100%;
 }

 .hero-subtitle:hover {
     color: rgb(255, 98, 30);
 }

 .about {
   position: relative;
 }

 .icon-size {
   font-size: 4rem;
 }

 .about::before {
   content: '';
   /* background: rgb(36, 36, 36); */
   -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
   clip-path: polygon(0 0, 0% 100%, 100% 0);
   width: 500px;
   height: 200px;
   left: 0;
   top: 0;
   position: absolute;
 }
 
 .about::after {
     content: '';
   -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
   clip-path: polygon(100% 0, 0% 100%, 100% 100%);
   width: 500px;
   height: 200px;
   right: 0;
   bottom: 0;
   position: absolute;
 }

 .project-pic {
   width: 100%;
 }

 .row header {
   position: relative;
 }

 .gallery {
   padding: 2em;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 3.5rem;
 }

 .row {
   margin: 0;
 }
 
 .row a {
   color: black;
 }

 .project-links {
   max-width: 100%;
   background: transparent;
   opacity: 0;
   justify-content: space-around;
   position: absolute;
   top: 35%;
   right: 0;
   left: 0;
   bottom: 0;
   transition: opacity 300ms ease;
 }

 .gallery header:hover .project-links {
   background-image: linear-gradient(180deg, transparent, rgba(76, 117, 154, 0.85));
   opacity: 1;
 }

 .img-description {
   align-self: center;
   display: inline-block;
   transition: 150ms ease;
   font-weight: 300;
   letter-spacing: 1px;
 }


 
 .project-icon-github {
   color: rgb(0, 0, 0);
   font-size: 3rem;
   transition: 250ms ease;
 }

 .live-site:hover {
   background: #222;
   color: rgb(74, 139, 218);
 }

 .project-icon-github:hover {
   color: rgb(74, 139, 218);
 }

 form {
   max-width: 600px;
 }
}

